<template>
  <div>
    <canvas ref="barChartCanvas"></canvas>
  </div>
</template>

<script setup>
import {defineProps, onMounted, ref} from 'vue';
import Chart from 'chart.js';

const barChartCanvas = ref(null);

const props = defineProps({
  stats: {}
});

onMounted(() => {
  const ctx = barChartCanvas.value.getContext('2d');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [1, 2, 3, 4, 5],
      datasets: [{
        label: 'Wins in Tries',
        data: [props.stats.winsIn1Tries, props.stats.winsIn2Tries, props.stats.winsIn3Tries, props.stats.winsIn4Tries, props.stats.winsIn5Tries],
        backgroundColor: 'rgb(148,222,164)',
        borderColor: 'rgb(90,133,98)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 1
          }
        }
      }
    }
  });
});
</script>

<style scoped>
canvas {
  max-width: 1000px;
  margin: auto;
}
</style>
