<template>
  <div class="container">
    <h1 class="title">User Stats</h1>
    <div v-if="!isLoginEntered" class="login-container">
      <input v-model="userLogin" type="text" placeholder="Enter your login" class="login-input"/>
      <button @click="handleLoginSubmit" class="start-button">Enter</button>
    </div>
    <div v-else>
      <div v-if="Object.keys(state.stats).length">
        <div class="stats-container">
          <div class="stat-item">
            <span class="stat-label">Total Wins: </span>
            <span class="stat-value">{{ state.stats.totalWins }}</span>
          </div>
          <div class="stat-item">
            <span class="stat-label">Total Losses: </span>
            <span class="stat-value">{{ state.stats.totalLosses }}</span>
          </div>
          <div class="stat-item">
            <span class="stat-label">Win Percentage: </span>
            <span class="stat-value">{{ calculateWinPercentage }}%</span>
          </div>
        </div>
        <bar-chart :stats=(state.stats)></bar-chart>

      </div>
      <div v-else>
        Loading...
      </div>
    </div>
  </div>
</template>

<script setup>
import {computed, reactive, ref, watch} from 'vue';
import BarChart from "@/components/stats/BarChart.vue";


const userLogin = ref('');
const isLoginEntered = ref(false);

const state = reactive({
  stats: {},
});

const fetchStats = () => {
  console.log('Fetching stats for user:', userLogin.value);
  fetch(`http://localhost:8080/stats/${userLogin.value}`)
      .then(response => response.json())
      .then(data => {
        console.log('Received stats data:', data);
        state.stats = data;
      })
      .catch(error => {
        console.error('Error fetching stats:', error);
        state.stats = {};
      });
};

const handleLoginSubmit = () => {
  if (userLogin.value.trim() !== '') {
    isLoginEntered.value = true;
  }
};

watch(isLoginEntered, (newVal) => {
  if (newVal) {
    fetchStats();
  }
});

const calculateWinPercentage = computed(() => {
  const totalWins = state.stats.totalWins
  const totalLosses = state.stats.totalLosses
  if (totalWins + totalLosses === 0) {
    return 0;
  }
  return Math.round((totalWins / (totalWins + totalLosses)) * 100);
});
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-family: 'Lucida Handwriting', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.login-input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.start-button {
  padding: 10px 20px;
  background-color: #b5d0a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #93a685;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
}

.stat-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-label {
  font-weight: bold;
  font-size: 1.2rem;
}

.stat-value {
  font-size: 1.5rem;
  color: #4CAF50;
}

@media (max-width: 900px) {
  .stats-container {
    grid-template-columns: 1fr;
  }
}
</style>
