<script setup>

import {ref} from 'vue';
import GameBoard from "@/components/game/GameBoard.vue";

const userLogin = ref('');
const isLoginEntered = ref(false);

const handleLoginSubmit = () => {
  if (userLogin.value.trim() !== '') {
    isLoginEntered.value = true;
  }
};

</script>

<template>
  <div>
    <h1 class="title">Wordle</h1>
    <div v-if="!isLoginEntered" class="login-container">
      <input v-model="userLogin" type="text" placeholder="Enter your login" class="login-input"/>
      <button @click="handleLoginSubmit" class="start-button">Start Game</button>
    </div>
    <game-board v-else :user-login="userLogin"></game-board>
  </div>

</template>

<style scoped>

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: 'Lucida Handwriting', sans-serif;
  font-size: 2rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.login-input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.start-button {
  padding: 10px 20px;
  background-color: #b5d0a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #93a685;
}
</style>