<script setup>
import SimpleKeyboard from "./SimpleKeyboard.vue";
import WordRow from "./WordRow.vue";
import {defineProps, onMounted, reactive} from "vue";

const props = defineProps({
  userLogin: String
});

const MAX_TRIES = 5;
const BASE_URL = 'http://localhost:8080';

const state = reactive({
  solution: "",
  guesses: ["", "", "", "", ""],
  currentTry: 0,
  letters: {},
  userToken: "",
  gameStatus: "",
  userLogin: props.userLogin
});


const handleInput = (key) => {
  if (state.currentTry >= MAX_TRIES || state.gameStatus === 'WIN' || state.gameStatus === 'LOSE') {
    return;
  }
  const currentGuess = state.guesses[state.currentTry];
  if (key === "{enter}") {
    if (currentGuess.length === MAX_TRIES) {
      sendGuess(currentGuess);
    }
  } else if (key === "{bksp}") {
    state.guesses[state.currentTry] = currentGuess.slice(0, -1);
  } else if (currentGuess.length < MAX_TRIES) {
    const alphaRegex = /[a-zA-Z]/;
    if (alphaRegex.test(key)) {
      state.guesses[state.currentTry] += key;
    }
  }
};

const sendGuess = async (guess) => {
  try {
    const url = new URL(`${BASE_URL}/submitGuess`);
    url.searchParams.append('guess', guess);
    url.searchParams.append('userToken', state.userToken);

    const response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    });
    const data = await response.json();
    updateStateVariables(data);
  } catch (error) {
    console.error('Error sending guess:', error);
  }
};

const updateStateVariables = (data) => {
  console.log('Response from backend:', data);

  state.solution = data.word;
  state.gameStatus = data.status;
  state.currentTry = data.currentTry;

  state.letters = data.letters.map(letter => {
    return {
      letter: letter.letter,
      value: letter.value
    };
  });
};

const startGame = async () => {
  try {
    const response = await fetch(`${BASE_URL}/startGame?userLogin=${state.userLogin}`);
    const userToken = await response.text();
    state.userToken = userToken;
    console.log('User token:', userToken);
    window.addEventListener("keyup", (e) => {
      e.preventDefault();
      let key = e.keyCode === 13 ? "{enter}" : e.keyCode === 8 ? "{bksp}" : String.fromCharCode(e.keyCode).toLowerCase();
      handleInput(key);
    });
  } catch (error) {
    console.error('Error starting game:', error);
  }
};

onMounted(() => {
  startGame();
});

</script>

<template>
  <div style="margin: 20px">
    <div>
      <word-row v-for="(guess, i) in state.guesses" :key="i" :value="guess" :solution="state.solution"
                :letters="state.letters"
                :submitted="i < state.currentTry"/>
    </div>
    <p v-if="state.gameStatus === 'WIN'" class="text-center">🏆 Congrats {{ state.userLogin }}, you solved it! 🏆</p>
    <p v-else-if="state.gameStatus === 'LOSE'" class="text-center">😿 Out of tries. 😿</p>
  </div>

  <div>
    <simple-keyboard style="width: 50%; margin: 0 auto;"
                     @onKeyPress="handleInput"></simple-keyboard>
  </div>
</template>

<style scoped>
.text-center {
  text-align: center;
}
</style>
