<script setup>
import Keyboard from "simple-keyboard";
import "simple-keyboard/build/css/index.css";
import {onMounted, ref} from "vue";

const props = defineProps({
  letters: Object,
});

const emit = defineEmits(["onKeyPress"]);

const keyboard = ref(null);

const onKeyPress = (button) => {
  emit("onKeyPress", button);
};

onMounted(() => {
  keyboard.value = new Keyboard("simple-keyboard", {
    layout: {
      default: [
        "Q W E R T Y U I O P",
        "A S D F G H J K L",
        "{enter} Z X C V B N M {bksp}",
      ],
    },
    onKeyPress: onKeyPress,
  });
});

</script>

<template>
  <div class="simple-keyboard"></div>
</template>

<style scoped>

</style>