<script setup>
import LetterBox from "@/components/game/LetterBox.vue";
import {ref, watch} from "vue";

const props = defineProps({
  value: String,
  solution: String,
  submitted: Boolean,
  letters: Object,
});

const colors = ref(["", "", "", "", ""]);

watch(
    () => props.submitted,
    async (submitted, prevSubmitted) => {
      let temp = ["gray", "gray", "gray", "gray", "gray"]
      for (let i = 0; i < 5; i++) {
        const value = props.letters[i].value;
        switch (value) {
          case 'CORRECT':
            temp[i] = "green";
            break;
          case 'PRESENT_BUT_MISPLACED':
            temp[i] = "yellow";
            break;
          default:
            temp[i] = "gray";
        }
      }
      colors.value = temp;
      await new Promise((resolve) => setTimeout(resolve, 500));
    }
);

</script>

<template>
  <div class="grid max-w-xs grid-cols-5 gap-1 mx-auto mb-1">
    <letter-box v-for="i in 5" :key="i" :letter="value[i-1]" :color="colors[i-1]"/>
  </div>
</template>

<style scoped>

</style>