<template>
  <div id="app">
    <header>
      <nav class="navbar">
        <div class="navbar-brand">
          <router-link to="/startGame">Wordle</router-link>
        </div>
        <div class="navbar-brand">
          <router-link to="/stats">Stats</router-link>
        </div>
      </nav>
    </header>
    <router-view></router-view>
  </div>
</template>
<script setup>
</script>


<style>
header {
  background-color: #b5d0a3;
  padding: 10px;
}

.navbar {
  display: flex;
  background-color: #b5d0a3;
  color: #ffffff;
  padding: 1rem;/* Ustawienie flexboxa dla nawigacji */
}

.navbar-brand {
  margin-right: 10px;
  font-size: 1.5rem;
  font-weight: bold;/* Opcjonalny margines między elementami */
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  padding: 10px; /* Dodaj trochę odstępu wewnętrznego, aby było bardziej czytelne */
}

.navbar-brand a:hover {
  text-decoration: underline;
}
</style>